body {
    font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
     background-color: #FF0B53;
    margin: 0%;

}


.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

  }

  .uno {
      grid-column: 1/4;
      grid-row: 1;

  }

  #presentacion {
      margin-top: 20%;
      margin-left: 10%;
  }

  .dos {
        grid-column: 4/4;
        grid-row: 1;
        margin: 0%;
        padding: 0%;

  }
  #me {
      float: right;
      user-select: none;
      -moz-user-select: none;
    }
  

  h1 {
      color: white;
      font-size: 60px;
      font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }

  .main {
      width: 100%;
      height: 200px;
      background-color: #191919;
      margin: 0%;
  }

  #linea {
      width: 100%;
      height: 20px;
  }